.row {
    margin-top: 10px !important;
}

.list-group-item {
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    border: 1px solid #dee2e6;
    margin-top: 10px;
}
  
.badge {
    margin-top: 0.5rem;
}

.d-grid {
    margin-top: 10px;
}
