<div class="container">
  <div class="row">
    <div class="col card">
      <app-add-item></app-add-item>
    </div>
    <div class="col card">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of items; let i = index">
          <i class="bi bi-trash" style="cursor: pointer;" (click)="onDeleteItem (i)"></i>
          {{ item.name }}
          <span class="badge bg-secondary float-end">{{ item.quantity }}</span>
        </li>
      </ul>
    </div>
  </div>
    <!-- <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of items">
        {{ item.name }}
        <span class="badge bg-secondary float-end">{{ item.quantity }}</span>
      </li>
    </ul>
    <div class="d-grid d-md-flex justify-content-md-end">
      <button class="btn btn-primary">Add Item</button>
    </div> -->
</div>
